<template>
  <div>
    Hello
    <div v-if="electionDataLoading">
      LOADING
    </div>
    <div v-else>
      <USState v-for="(s, index) in usStates" v-bind:key="index" :name="s"></USState>
      <input v-if="addingUSState" v-model="newName" placeholder="2 letters">
      <button v-if="addingUSState" @click="save()" :disabled="!validState()">Save</button>
      <button v-if="!addingUSState" @click="addUSState()">Add U.S. State</button>
    </div>
    <help></help>
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import USState from './us-state.vue';
import Help from './help.vue';
import { Watch } from 'vue-property-decorator'
import { Action, State, Getter } from 'vuex-class'
import { ElectionState } from '../store/types'
const namespace: string = 'election';

@Component({
  components: {
    USState, Help
  }
})
export default class App extends Vue {
  @Action('fetchData', { namespace }) fetchData: any;
  @State('election') election!: ElectionState;
  @Getter('isLoading', { namespace }) electionDataLoading: any;

  name: string = ""
  usStates: string[] = [];
  addingUSState: boolean = false;
  newName: string = "";

  mounted() {
    this.fetchData();
  }

  @Watch('newName')
  validState(): boolean {
    return this.newName.length !== 2 ? false : true;
  }

  addUSState() {
    this.addingUSState = true;
  }
  save() {
    this.newName = this.newName.toLowerCase()
    this.usStates.push(this.newName);
    this.addingUSState = false;
    this.newName = "";
  }
}

</script>
