<template>
  <div class="cake">
    Hi, I'm state {{name}}.
    <div v-if="electionDates.length"> Elections will be held:
      <div v-for="(date, index) in electionDates" :key="index">{{date}}</div>
    </div>
    <div v-else>No elections scheduled</div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State, Action, Getter } from 'vuex-class'
import { ElectionState } from '../store/types'
const namespace: string = 'election';

@Component
export default class USState extends Vue {
  @Getter('electionDates', { namespace }) dates: any;

  @Prop({default: 'IL'}) name!: string;

  mounted() {
  }

  get electionDates() {
    return this.dates(this.name);
  }
}

</script>
<style>
  .cake {
    color: orange;
  }
</style>

